* {
    font-family: sans-serif;
    font-size: 18px;;
    transition: background-color ease-in .5s;
}

main {
    margin: 0 10%;
}

header, footer {
    background: lightgrey;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

#toggle {
    background: transparent;
    border: 1px solid red;
    font-size: 1.52em;
}